@use "@/assets/styles/theme.scss" as *;

.power {
  width: 375px;
  height: calc(100vh - 87px);
  background-color: #191614;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  color: #fff;
  padding: 24px 16px;
  box-sizing: border-box;
  .tabs{
    display: flex;
    font-size: 12px;
    font-weight: 500;
    color: $primary-800;
    margin: 16px 0;
    .tab{
      line-height: 28px;
      margin-right: 12px;
      padding: 0 8px;
      border-radius: 6px;
      background: $primary-1100;
    }
    .tab-active{
      background: $primary-500;
      font-weight: 500;
      color: $primary-1300;
    }
  }
  .cell{
    width: 100%;
    height: 40px;
    padding: 0 12px;
    border-radius: 8px;
    background: $primary-1200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cell-l{
      font-size: 12px;
      color: $primary-700;
      img{
        width: 22px;
        height: 22px;
        vertical-align: middle;
        margin-right: 8px;
      }
    }
    .cell-r{
      font-size: 14px;
      color: $primary-200;
      font-weight: 600;
    }
  }
  .basics{
    width: 100%;
    .basics-input{
      padding: 12px 16px;
      border-radius: 12px;
      border: 1px solid $primary-900;
      margin-top: 12px;
      background: $primary-1200;
      .input-icon{
        font-size: 14px;
        font-weight: 600;
        color: $primary-50;
        display: flex;
        align-items: center;
        img{
          width: 18px;
          height: 18px;
          margin-right: 4px;
        }
      }
    }
    .basics-ratio{
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      margin-top: 12px;
      .ratio-l{
        color: $primary-700;
      }
      .ratio-r{
        color: $primary-500;
      }
    }
    .basics-button{
      margin-top: 14px;
      color: $primary-1200!important;
      font-size: 16px;
      font-weight: 500;
    }
    .basics-tips{
      padding: 16px 0;
      text-align: center;
      color: $primary-900;
      font-size: 10px;
    }
    :deep(.van-cell) {
      background: $primary-1200;
      padding: 0;
    }
    :deep(.van-field__control) {
      color: $primary-200;
    }
    :deep(.van-field__control::placeholder) {
      color: $primary-700;
      font-size: 14px;
    }
  }
  .speed{
    width: 100%;
    margin-top: 12px;
    .speed-input{
      padding: 12px;
      border-radius: 8px;
      background: $primary-1200;
      .input-head{
        display: flex;
        justify-content: space-between;
        .label{
          font-size: 12px;
          color: $primary-500;
        }
        .num{
          font-size: 12px;
          color: $primary-700;
        }
      }
      .input-main{
        padding: 20px 0;
        .input-label{
          display: flex;
          align-items: center;
          font-size: 18px;
          font-weight: 600;
          color: $primary-50;
          .logo{
            width: 24px;
            height: 24px;
          }
          .text{
            padding: 0 4px 0 8px;
          }
          .arrow-down{
            width: 16px;
            height: 16px;
          }
        }

        :deep(.van-cell) {
          background: $primary-1200;
          padding: 0;
        }
        :deep(.van-field__control) {
          color: $primary-200;
        }
        :deep(.van-field__control::placeholder) {
          color: $primary-700;
          font-size: 20px;
          //text-align: right;
        }
      }
      .input-foot{
        display: flex;
        justify-content: space-between;
        .num{
          font-size: 12px;
          color: $primary-300;
          padding: 4px 12px;
          border: 1px solid $primary-900;
          border-radius: 40px;
          &:active{
            opacity: 0.8;
          }
        }
      }
    }
    .speed-tips{
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      .label{
        font-size: 12px;
        color: $primary-700;
      }
      .num{
        font-size: 12px;
        color: $primary-500;
      }
    }
    .speed-button{
      margin-top: 14px;
      margin-bottom: 16px;
      color: $primary-1200!important;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .column{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
    .column-l, .column-r{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 142px;
      height: 42px;
      padding: 8px 12px;
      border-radius: 8px;
      background: $primary-1200;
      .label{
        font-size: 12px;
        color: $primary-700;
      }
      .num{
        font-size: 14px;
        color: $primary-200;
      }
    }
  }
  .links{
    width: 100%;
    .link{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 12px;
      padding: 12px;
      border-radius: 8px;
      font-size: 14px;
      color: $primary-200;
      background: $primary-1200;
      &:last-child{
        margin-bottom: 0;
      }
      &:active{
        opacity: 0.8;
      }
      img{
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 8px;
      }
    }
  }
}

p{
  margin: 0;
}