.Navbar {
  width: 375px;
  height: 68px;
  background: transparent;
}

:deep(.van-nav-bar__title) {
  font-size: 16px;
  font-family: PingFang SC-Medium, PingFang SC;
  font-weight: 500;
  color: #fff;
}

:deep(.van-icon-arrow-left:before) {
  color: #fff;
}
:deep(.van-nav-bar__content) {
  height: 100%;
}

:deep(.Navbar .van-icon) {
  color: #000;
  font-size: 20px;
}
