// 主题色
$primary-50: #FFFBF9;
$primary-100: #FFF3EB;
$primary-200: #FFEDE2;
$primary-300: #FFE5D4;
$primary-400: #FFE0CC;
$primary-500: #FFD8BF;
$primary-600: #E8C5AE;
$primary-700: #B59988;
$primary-800: #8C7769;
$primary-900: #6B5B50;
$primary-1000: #53483F;
$primary-1100: #332F2C;
$primary-1200: #292522;
$primary-1300: #2D2015;

$secondary-50: #EAF9ED;
$secondary-100: #BEECC8;
$secondary-200: #9EE3AE;
$secondary-300: #72D688;
$secondary-400: #57CE71;
$secondary-500: #2DC24E;
$secondary-600: #29B147;
$secondary-700: #208A37;
$secondary-800: #196B2B;
$secondary-900: #135121;

$danger-50: #FEEAEA;
$danger-100: #FDBEBE;
$danger-200: #FC9E9E;
$danger-300: #FB7272;
$danger-400: #FA5656;
$danger-500: #F92C2C;
$danger-600: #E32828;
$danger-700: #B11F1F;
$danger-800: #891818;
$danger-900: #691212;
